html, body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

body{
	background: #60A38C;
}

#container{
	text-align: center;
}

.io-string{
	margin-top: 5%;
	font-size: 100px;
	color: #E4E8D0;
	text-shadow: #747171 0px 3px;
}

.io-morse{
	font-size: 45px;
	color: #E4E8D0;
	text-shadow: #747171 0px 3px;
	font-family: serif;
}

.io-morse:read-write:focus, .io-string:read-write:focus {
    outline: 0px solid transparent;
}

#c-play{

}

#b-play{
	background: none;
    font-size: 3rem;
    color: #E4E8D0;
    border: 2px solid #E4E8D0;
    display: inline-block;
    border-radius: 25%/50%;
    padding: 1% 3% 1% 3%;
    outline: 0px solid transparent;
    text-shadow: #747171 0px 3px;
    box-shadow: #747171 0px 2px;
}

#b-play:hover{
	background: rgba(255, 255, 255, 0.1);
}

#b-play:active{
	background: #E4E8D0;
	color: #60A38C;
    border: 2px solid #60A38C;
    text-shadow: none;
    box-shadow: none;
}